/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.01.2015, 22:40:43
    Author     : rsamokhin
*/
.main-block-row{
    height: 100%;
}
body{
    overflow: hidden;
   /* background-image: url('../../images/custom/custom-background sign.png');
    background-repeat: no-repeat;
    background-position: left top;
    */
}
.main-block-div{
    height: 100%;
}
.login-block-top-offset{
    height: 30% !important;
}
.login-block-bot-offset{
    float:left !important;
    position: absolute;
    bottom: 20px;
}
.login-block-div{
    height: 260px;
    border: 1px solid #000;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    border-radius: 30px;
}
.login-block-row{
    height: 100%;
}
.login-block-label{
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: steelblue;
    font-family: fantasy;
    padding-top: 15px;
    font-size: 25px;
    margin-bottom: 10px;
}
.login-block-inner-row{
    height: 100%;
}
.login-block-pwd{
    float: left !important;
    height: 50px;
    margin-bottom: 10px;
}
.login-block-buttons-row{
    height: 50px;
}
.login-block-bot-footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    color: steelblue;
    width: 100%;
}
.bird-icon{
    background-image: url('../../images/custom/icon-bird.png');
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 128px;
    height: 128px;
}
.label-icon{
    position: absolute; 
    top: 20px;
    right: 20px;
    font-family: fantasy;
    font-size: 90px;
    font-style: oblique;
    color: steelblue;
}
.login-input{
    font-family: fantasy !important;
    font-size: 22px !important;
}